body {
  margin: 0 auto;
  padding: 24px 156px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
}

.gallery-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.gallery-image {
  width: 360px;
}
